<section id="{{block._id}}" class="section-padding-y g-neutral-100 dark:bg-neutral-800">
  <div class="container-fluid container-padding-x mx-auto">
    <div class="text-center">
      <h2 class="section-heading uppercase text-neutral-900 dark:text-neutral-100" data-field-string="heading">{{block.heading}} - {{ data.show }} {{ data.index }}</h2>
      <h3 class="section-subheading text-neutral-500 dark:text-neutral-200" data-field-string="sub_heading">{{block.sub_heading}}</h3>
    </div>
    <div class="grid grid-gap grid-cols-1 md:grid-cols-3 mt-8" data-field-array="items">
    {% for item in block.items %}
      <div class="mb-2 mt-4 sm:mb-0" x-data="{ showModal: false }" x-on:keydown.window.escape="showModal = false" data-field-array-item>
        <!-- Item -->
        <a href="#{{block._id}}" x-on:click="showModal = !showModal" x-on:click.prevent class="portfolio-link relative group" onclick="showModal(event, {{loop.index0}});">
          <div class="absolute inset-0 flex justify-center items-center transition uration-300 bg-primary/0 text-neutral-100/0 group-hover:bg-primary/75 hover:text-neutral-100/100">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ item.image }}" class="img-responsive" alt="" />
        </a>
        <div class="portfolio-caption text-center">
          <h4
            class="mt-4 text-lg lg:text-xl"
            data-field-string="items[{{loop.index0}}].client"
          >{{ item.client }}</h4>
          <p
            data-field-string="items[{{loop.index0}}].category"
            data-toolbar-buttons="['bold']"
          >{{ item.category }}</p>
        </div>
        <!-- Modal -->
        <div x-show="showModal" x-transition.opacity class="fixed inset-0 bg-slate-900/75 z-[1000] modal-{{loop.index0}} {{ "show-modal" if data.index == loop.index0 }}" style="display: none;" onclick="closeModal()"></div>
        <div x-show="showModal" x-transition class="fixed inset-0 z-[1000] flex items-center justify-center max-w-4xl mx-auto {{ "show-modal" if data.index == loop.index0 }}" style="display: none;">
          <div x-on:click.away="showModal = false" class="relative mx-auto bg-white rounded-lg h-96" style="width: calc(100vw - 100px);height: calc(100vh - 100px)">
            <div class="p-12 h-full container-padding-x">
              <div class="text-center container-padding-x">
                <h2 class="text-4xl uppercase text-neutral-900 dark:text-neutral-100" data-field-string="items[{{loop.index0}}].title">{{item.title}}</h2>
                <h3 class="text-base font-medium italic mt-3 text-neutral-500 dark:text-neutral-200" data-field-string="items[{{loop.index0}}].summary">{{item.summary}}</h3>
              </div>
              <div class="mt-6 flex justify-center">
                <img
                  class="text-center img-responsive mg-centered"
                  data-field-string-file="items[{{loop.index0}}].image"
                  src="{{ item.image }}"
                  alt="" />
              </div>
              <div class="text-center mt-6 mx-auto leading-6 max-w-2xl" data-field-text="items[{{loop.index0}}].body">{{ item.body }}</div>
              <ul class="text-center mt-6">
                <li><strong>Date</strong>: {{ item.date }}</li>
                <li><strong>Client</strong>: {{ item.client }}</li>
                <li><strong>Category</strong>: {{ item.category }}</li>
              </ul>
              <div class="text-center absolute bottom-10 left-0 w-full">
                <button x-on:click="showModal = !showModal" type="button" class="btn btn-filled btn-extended-start" onclick="closeModal()">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
<style>.show-modal {display: flex !important;}</style>
<script>
  (function () {
    const setState = nunjucksSetData['{{block._id}}'];
    function showModal(e, i) {
      e.preventDefault();
      setTimeout(() => setState({show: true, index: i}), 100);
      setTimeout(() => { if (parent.frames.window.reactPageIsLoaded) { parent.frames.window.reactPageIsLoaded() } }, 200);
      
    }
    function closeModal() {
      setState(false);
      setTimeout(() => { if (parent.frames.window.reactPageIsLoaded) { parent.frames.window.reactPageIsLoaded() } }, 200);
    }
    window.showModal = showModal;
    window.closeModal = closeModal;
  })();
</script>